@import "src/assets/styles/variables.scss";
@import "src/assets/styles/mixins.scss";

.header {
  background-color: $header-grey;

  min-height: 110px;
  padding: 18px 0;
}

.container {
  @include container;
}

.nav {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
}

.site_menu {
  @include list-style-none;

  display: flex;
  flex-wrap: wrap;
  max-width: 514px;
  width: 100%;
}

.site_menu_item {
  &:not(:last-child) {
   margin-right: 40px;
  }
}

.link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.1px;
  color: $basic-black;
}

.user_menu {
  @include list-style-none;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 131px;
  width: 100%;
}

.user_menu_item {
  position: relative;

  &:not(:last-child) {
    margin-right: 35px;
  }
}

.cart_count {
  position: absolute;
  top: -1px;
  right: -9px;
  font-size: 10px;
  line-height: 12px;
  color: $basic-red;
}

