@import "../../../assets/styles/variables";

.logo {
  display: inline-block;

  &:hover {
    opacity: 0.6;
  }

  &_active {
    cursor: default;
    user-select: none;
    pointer-events: none;
  }
}
