$regular-font: "Droid Sans Regular", "Arial", sans-serif;
$bold-font: "Droid Sans Bold", "Arial", sans-serif;
$basic-black: #000000;
$basic-red: #f20505;
$basic-white: #ffffff;
$basic-orange: #e27f00;

$secondary-black: #585757;

$secondary-grey: #474747;
$third-grey: #9f9e9e;

$disabled-background-grey: #f7f3f3;
$disabled-grey: #dddddd;

$button-grey: #c1c1c1;

$border-grey: #dddada;

$header-grey: rgba(30, 9, 6, 0.15);
$footer-grey: #3f3f3f;
