$regular-font: "Droid Sans Regular", "Arial", sans-serif;
$bold-font: "Droid Sans Bold", "Arial", sans-serif;
$basic-black: #000000;
$basic-red: #f20505;
$basic-white: #ffffff;

$header-grey: rgba(30, 9, 6, 0.15);
$footer-grey: #3f3f3f;
